@tailwind base;
@tailwind components;
@tailwind utilities;
.glow-effect {
    position: relative;
  }
  
  .glow-effect::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: radial-gradient(circle, rgba(128,0,128,0.5) 0%, transparent 70%);
    filter: blur(10px);
    border-radius: 10px;
  }
  
  @keyframes flowingGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .animated-gradient {
    background: radial-gradient(circle,   /* Deep Black */
      #150050,
      #36168d, /* Dark Purple */
      #3f0071,  /* Deep Violet */
      #4d1b63
    );
    background-size: 250% 250%;
    animation: flowingGradient 90s ease-in-out infinite;
  }

  .image-container {
    width: 80%;
    height: 400px;
    background-image: url('/image2.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 4px solid #720455;
    box-shadow: 0 0 20px rgba(114, 4, 85, 0.6);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .image-container:hover {
    box-shadow: 0 0 30px rgba(114, 4, 85, 1);
  }
  
  