protobuf==5.28.3
Scrapy==2.11.2
spacy==3.7.4c
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
python-dotenv==1.0.0
